.gitlab-content {
    margin-top: 100px;
}

.gitlab-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-underline-position: under;
    border: 2px solid #fff;
    padding: 30px;
    display: flex;
    gap: 35px;
    align-self: center;
    border-radius: 35px;
}

.gitlab_logo {
    width: 120px;}