body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "proxima-nova-soft", sans-serif;
    user-select: none;
    overflow: hidden;
}

body .vertical-centered-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

body .vertical-centered-box:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

body .vertical-centered-box .content {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
}

* {
    transition: all 0.3s;
}

body {
    background: #2c2d44;
}

.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 240px; /* Ajusté à 240px */
    height: 240px; /* Ajusté à 240px */
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    margin-left: -120px; /* Ajusté à -120px */
    margin-top: -120px; /* Ajusté à -120px */
}

.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px; /* Ajusté à 120px */
    height: 240px; /* Ajusté à 240px */
    margin-left: -120px; /* Ajusté à -120px */
    margin-top: -120px; /* Ajusté à -120px */
    overflow: hidden;
    transform-origin: 120px 120px; /* Ajusté à 120px 120px */
    mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    animation: rotate 1.2s infinite linear;
}

.loader-line-mask .loader-line {
    width: 240px; /* Ajusté à 240px */
    height: 240px; /* Ajusté à 240px */
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.button-click-animation {
    animation: buttonClickAnimation 0.2s ease-in-out; /* Exemple d'animation */
}

@keyframes buttonClickAnimation {
    /* Définissez votre animation ici */
}

#particles-background,
#particles-foreground {
    left: -51%;
    top: -51%;
    width: 202%;
    height: 202%;
    transform: scale3d(0.5, 0.5, 1);
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

#particles-background {
    background: #2c2d44;
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.python_logo {
    display: flex;
    justify-content: center;
    }

/*  */


.button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .button .bloom-container {
    position: relative;
    transition: all 0.2s ease-in-out;
    border: none;
    background: none;
  }
  
  .button .bloom-container .button-container-main {
    width: 110px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: grid;
    place-content: center;
    border-right: 5px solid white;
    border-left: 5px solid rgba(128, 128, 128, 0.147);
    transform: rotate(-45deg);
    transition: all 0.5s ease-in-out;
  }
  
  .button .bloom-container .button-container-main .button-inner {
    height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.5) -10px 5px 10px 0px;
    transition: all 0.5s ease-in-out;
  }
  
  .button .bloom-container .button-container-main .button-inner .back {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(60deg, rgb(1, 85, 103) 0%, rgb(147, 245, 255) 100%);
  }
  
  .button .bloom-container .button-container-main .button-inner .front {
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background: linear-gradient(60deg, rgb(0, 103, 140) 0%, rgb(58, 209, 233) 100%);
    display: grid;
    place-content: center;
  }
  
  .button .bloom-container .button-container-main .button-inner .front .svg {
    fill: #ffffff;
    opacity: 0.5;
    width: 30px;
    aspect-ratio: 1;
    transform: rotate(45deg);
    transition: all 0.2s ease-in;
  }
  
  .button .bloom-container .button-container-main .button-glass {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.888) 100%);
    transform: translate(0%, -50%) rotate(0deg);
    transform-origin: bottom center;
    transition: all 0.5s ease-in-out;
  }
  
  .button .bloom-container .bloom {
    height: 1px;
    width: 1px;
    position: absolute;
    background: white;
  }
  
  .button .bloom-container .bloom1 {
    top: 10px;
    right: 20px;
    box-shadow: rgb(255, 255, 255) 0px 0px 10px 10px, rgb(255, 255, 255) 0px 0px 20px 20px;
  }
  
  .button .bloom-container .bloom2 {
    bottom: 10px;
    left: 20px;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px 10px, rgba(255, 255, 255, 0.5) 0px 0px 30px 20px;
  }
  
  .button .bloom-container:hover {
    transform: scale(1.1);
  }
  
  .button .bloom-container:hover .button-container-main .button-glass {
    transform: translate(0%, -40%);
  }
  
  .button .bloom-container:hover .button-container-main .button-inner .front .svg {
    opacity: 1;
    filter: drop-shadow(0 0 10px white);
  }
  
  .button .bloom-container:active {
    transform: scale(0.7);
  }
  
  .button .bloom-container:active .button-container-main .button-inner {
    transform: scale(1.2);
  }

  .opacity-zero {
    opacity: 0 !important; /* Utilisez !important pour garantir la priorité de cette règle */
}

